.button {
  border-radius: 7px;
  background-color: #25292e;
  width: 100%;
  color: #ffffff;
}

.button:hover {
  background-color: #c7d7eb;
  cursor: pointer;
  color: #484141;
}

.button:focus {
  outline: none;
}

.button:hover:active {
  box-shadow: -1px -1px grey;
}

.buttonSmall {
}

.buttonMedium {
}

.buttonLarge {
  width: 5vw;
}

.buttonSmall,
.buttonMedium,
.buttonLarge {
  border-radius: 7px;
  box-sizing: border-box;
}
