.body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 90vh;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
  position: absolute;
  /* top: auto; */
  top: 10vh;
}

.fade-exit-active {
  /* transition: top 300ms ease-in; */
  opacity: 0;
  transition: opacity 500ms ease-out;
}
